---
layout: layouts/base.njk
title: CV
permalink: /cv/
templateClass: page-cv
eleventyNavigation:
  key: cv
  order: 3
---
<section class="cv-section">
  <div></div>
  <div>
    <h1 class="page-title">David Disch</h1>
    <h2 class="page-subtitle">Curriculum Vitae</h2>
  </div>
</section>

<section class="cv-section">
  <h3 class="cv-section-heading">Experience</h3>
  <div class="cv-section-content">
    {% for experience in cv.experience %}
    <div class="cv-section-item">
      <div class="cv-date">{{ experience.date | safe }}</div>
      <h4 class="cv-title">{{ experience.company | safe }}</h4>
      <h5 class="cv-subtitle">{{ experience.position | safe }}</h5>
      <div class="cv-description">{{ experience.description | safe }}</div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="cv-section">
  <h3 class="cv-section-heading">Education</h3>
  <div class="cv-section-content">
    {% for education in cv.education %}
    <div class="cv-section-item">
      <div class="cv-date">{{ education.date | safe }}</div>
      <h4 class="cv-title">{{ education.name | safe }}</h4>
    </div>
    {% endfor %}
  </div>
</section>
