---
layout: layouts/home.njk
title: About
eleventyNavigation:
  key: whois
  order: 1
---
<h1 class="page-title">David Disch</h1>
<h2 class="page-subtitle">Software Engineer</h2>
<img class="avatar" src="{{ '/img/me.jpeg' | url }}" alt="">