{% extends "base.html" %}

{% block title %}About - David Disch | Software Engineer{% endblock %}

{% block content %}
<div class="profile-card">
  <div style="margin-bottom: 1rem;">
    <img class="avatar" src="/img/me.jpeg" alt="" />
  </div>
  <div style="display: flex; align-items: center;">
    <div>
      <h1 style="margin-top: 0;" class="page-title">David Disch</h1>
      <h2 class="page-subtitle">Software Engineer</h2>
    </div>
  </div>
</div>
<p style="font-size: 1.25rem;">
  software engineer. rust enthusiast. ai dabbler. hardware
  tinkerer. open source contributor. opinions are my own.
</p>
<h4>Apple Contact Key Verification</h4>
<p style="overflow-wrap: break-word;">
  <code>APKTIDuyQR3wY2TurZO49T4vQ3EVIUGwOV1d21Z7V3dXVIK0_2KQ</code>
</p>
{% endblock %}
