<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="icon" href="{{ '/img/favicon@16.png' | url }}" type="image/png" sizes="16x16">
    {% set css %}{% include "index.css" %}{% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <div>
      <header class="max-w-header">
        <nav class="nav">
          <ul class="nav-item-list reset-list">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
              <a class="reset-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>

          <ul class="nav-social-list reset-list">
          {%- for social in metadata.socials %}
            <li class="nav-item">
              <a class="reset-link" href="{{ social.link | url }}">
                {% set icon %}{% include social.icon %}{% endset %}
                {{ icon | safe }}
              </a>
            </li>
          {%- endfor %}
          </ul>
        </nav>
      </header>

      <main class="max-w-main">
        {{ content | safe }}
      </main>

      <footer class="max-w-footer"></footer>
    </div>
  </body>
</html>